.page {
    margin: 0 auto;
    font-family: 'Inter', 'Prata', 'Roboto Condensed', 'Times New Roman', Times, serif;
    font-style: normal;
    color: #303030;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
    max-width: 1350px;
}

